*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body header {
    text-align: right;
    background-color:whitesmoke;
    height: 30px;
    font-size: 15px;
    padding: 3px 50px 10px 3px;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover{
    color: rgb(160,160,160);
}

.wrapper {
    min-height: 100%;
}

